{% extends 'base.html' %} {% block body %}
<div class="container p-4">
  <div class="card">
    <div class="card-body">
      <p class="text-center">
        <a href="https://github.com/dmdhrumilmistry/WebDirShareAPI" target="_blank">
          <img src="/static/images/WebDirShareLOGO.png" alt="WebDirShare Logo" />
        </a>
      </p>
      <div class="card">
        <div class="card-body text-justify-center">
          <div class="container">
            <p>
              Created by
              <a class="button" href="https://dmdhrumilmistry.github.io/"
                target="_blank"><strong>dmdhrumilmistry</strong></a>
              to upload/download files and folders remotely easily. Projects
              uses node.js, express.js, Base64, axios, bootstrap5, CSS, JS, HTML, etc.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock body %}
</div>